.header.burgers {
  transition: all 1s;
  position: absolute;
  top: 55%;
  left: 0;
  transform: translateY(-50%);
  height: 450px;
  width: 100%;
  display: grid;
  grid-template-columns: 40% auto;
  grid-template-rows: 100%;
  gap: 10px;
}

.header.burgers .header_img {
  margin-right: auto;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 310px auto;
}

.header.burgers .header_img img.burgers {
  width: 340px;
  height: 340px;
  margin: auto;
  transition: all 0.5s;
  transform: translateX(-2500px);
  animation: show_by_translate 1s forwards ease-out;
}

.header.burgers .header_img div {
  margin-left: auto;
}

.header.burgers .header_img div img.cola {
  height: 100px;
  width: 100px;
  transform: translate(-2500px, 0);
  animation: show_cola 1s 1.5s forwards;
}

.header.burgers .header_img div img.fries {
  height: 100px;
  width: 100px;
  transform: translate(-2500px, 0);
  animation: show_fries 1s 1s forwards;
}

.header.burgers .header_description h1, .header.burgers .header_description h3 {
  opacity: 0;
  animation: show_opacity 3.5s 0.25s forwards;
  color: #eee;
}

.header.burgers .header_description p {
  color: #eee;
  opacity: 0;
  animation: show_opacity 2s 1s forwards;
}

@keyframes show_fries {
  to {
    transform: translate(-35px, 0);
  }
}

@keyframes show_cola {
  to {
    transform: translate(0, 0);
  }
}
