$white: #eee;
.header.burgers {
  transition: all 1s;
  position: absolute;
  top:50%;
  left:0;
  transform: translateY(-50%);
  height:450px;
  width:100%;
  display:grid;
  grid-template-columns: 40% auto;
  grid-template-rows: 100%;
  gap:10px;
  .header_img {
    margin-right:auto;
    height:100%;
    width:100%;
    display:grid;
    grid-template-rows: 310px auto;

    img.burgers {
      width:340px;
      height:340px;
      margin:auto;
      transition:all 0.5s;
      transform: translateX(-2500px);
      animation: show_by_translate 1s forwards ease-out;
    }
    div {
      margin-left:auto;
      img.cola {
        height:95px;
        width:95px;
        transform: translate(-2500px,0);
        animation: show_cola 1s 1.5s forwards;
      }
      img.fries {
        height:100px;
        width:100px;
        transform: translate(-2500px,0);
        animation: show_fries 1s 1s forwards
      }
    }
  }
  .header_description {
    h1,h3 {
      opacity:0;
      animation: show_opacity 3.5s 0.25s forwards;
      color:$white;
    }
    p {
      color:$white;
      opacity: 0;
      animation: show_opacity 2s 1s forwards;
    }
  }
}
@keyframes show_fries {
  to {
    transform: translate(-35px,0);
  }
}
@keyframes show_cola { 
  to {
    transform: translate(-15px,0);
  }
}