.header.coffees {
  transition: all 1s;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 450px;
  width: 100%;
  display: grid;
  grid-template-columns: 40% auto;
  grid-template-rows: 100%;
  gap: 10px;
}

.header.coffees .header_img {
  margin-right: auto;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 310px auto;
}

.header.coffees .header_img img.coffees {
  margin: auto;
  transition: all 0.5s;
  width: 1px;
  height: 1px;
  opacity: 0;
  animation: show_bigger 1s forwards linear;
}

.header.coffees .header_description h1, .header.coffees .header_description h3 {
  color: #eee;
  opacity: 0;
  animation: show_opacity 1.5s forwards ease-in;
}

.header.coffees .header_description p {
  color: #eee;
  opacity: 0;
  animation: show_opacity 2s 1s forwards;
}

@keyframes show_bigger {
  to {
    width: 340px;
    height: 340px;
    opacity: 1;
  }
}
