* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Miriam Libre', sans-serif;
  overflow: hidden;
  background-color: #555;
}

.container {
  padding: 0 20px;
  margin: 0 auto;
  height: 100vh;
  position: relative;
}

.container .banner {
  width: 100%;
  position: relative;
  top: 25px;
}

.container .banner .banner_content {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container .banner .banner_content .bannerimg {
  width: 170px;
  height: 170px;
  border-radius: 3px;
}

.container .banner .banner_content h1 {
  font-size: 2.5rem;
  font-family: 'Holtwood One SC', serif;
  color: #e3e3e3;
  text-shadow: 1px 1px 2px #000;
}

.container .banner .banner_content .bannerimg2 {
  width: 450px;
  height: 170px;
  border-radius: 3px;
}

.container .banner h3 {
  font-size: 1.8rem;
  font-family: 'Holtwood One SC', serif;
  color: #e3e3e3;
  text-shadow: 1px 1px 2px #000;
  margin-top: 10px;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.board {
  transition: all 0.5s;
  height: 100vh;
  position: relative;
  width: 100%;
}

.board .header {
  padding: 5px;
  border-radius: 3px;
}

.board .header h1, .board .header h2, .board .header h3, .board .header h4 {
  color: #e3e3e3;
  text-shadow: 1px 1px 2px #000;
  font-family: 'Holtwood One SC', serif;
}

.board .header h1 {
  font-size: 2.8rem;
  letter-spacing: 2px;
}

.board .header h2 {
  font-size: 2.2rem;
}

.board .header h3 {
  font-size: 2rem;
  margin-left: 5px;
  letter-spacing: 2px;
}

.board .header h4 {
  font-size: 1.8rem;
}

.board .header p {
  text-shadow: 1px 1px 2px #000;
  font-size: 1.2rem;
}

@keyframes show_opacity {
  to {
    opacity: 1;
  }
}

@keyframes show_by_translate {
  to {
    transform: translate(0);
  }
}
